/* 
Partial reset taken from 
http://meyerweb.com/eric/tools/css/reset/ 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

:root.light {
  --img-author: 'Valdemaras D.';
  --book-section-bgc: rgba(240, 240, 240, 0.569);
  --book-section-title-bgc: rgba(248, 248, 248, 0.898);
  --background-image: url(images/library-light.png);
  --font-color: black;
  --background-color: white;
  --card-bgc: rgba(160, 132, 98, 0.902);
  --edit-btn-color: rgba(232, 178, 0, 0.808);
}

:root.dark {
  --img-author: 'Hieu Vu Minh';
  --book-section-bgc: rgba(35, 35, 35, 0.524);
  --book-section-title-bgc: rgba(16, 16, 16, 0.883);
  --background-image: url(images/library-dark.png);
  --font-color: white;
  --background-color: rgb(36, 36, 36);
  --card-bgc: rgba(26, 26, 26, 0.892);
  --edit-btn-color: rgba(232, 178, 0, 0.808);
}

body {
  display: grid;
  grid-template-rows: 15vh 80vh 5vh;
  font-family: 'Instagram Sans Condensed', sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
}

/* Update background author with theme toggle */
#img-author::after {
  content: var(--img-author);
}

.header {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  position: relative;
}

.header-title {
  font-family: 'Victorian Parlor Vintage Alternate', sans-serif;
  font-size: clamp(5vw, 5rem, 7vw);
  overflow-wrap: break-word;
}

.popup {
  position: absolute;
  display: none;
  height: 40vh;
  width: clamp(300px, 30vw, 700px);
  left: 35%;
  top: 30vh;
  background-color: white;
  color: gray;
  z-index: 2;
  box-shadow: inset 0px 0px 20px rgb(166, 166, 166);
  border-radius: 10px;
}

.form-container {
  display: grid;
  height: 100%;
  grid-template: 4fr 1fr/ 100%;
}

.form-rows {
  display: grid;
  grid-template: 20px 20px 20px / 1fr 2fr;
  gap: 10px;
  padding: 25px;
  align-items: start;
}

#submit-btn {
  background-color: green;
  border-style: none;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
}

#close-btn {
  background-color: red;
  border-style: none;
  border-radius: 0px;
  border-bottom-right-radius: 10px;
}

#submit-btn:hover,
#close-btn:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 20px rgba(47, 47, 47, 0.622);
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-btns {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.theme-toggle {
  height: 40px;
  width: 40px;
  justify-self: end;
  align-self: center;
  fill: var(--font-color);
}

.theme-toggle:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.add-book {
  height: 40px;
  width: 40px;
  justify-self: end;
}

.add-book:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* property for add book fill color */
#add-book-fill-prop {
  fill: var(--font-color);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  position: relative;
  overflow: auto;
}

.background-image {
  position: fixed;
  background-image: var(--background-image);
  background-size: cover;
  height: 80vh;
  width: 100%;
  z-index: -1;
  left: 1px;
  top: 150px;
}

/* scrollbar style */
::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92);
  box-shadow: inset 3px 3px 5px rgb(178, 178, 178),
    inset -3px -3px 10px rgb(56, 56, 56);
  border-radius: 10px;
}

.books-section {
  text-align: center;
}

.section-titles {
  font-size: clamp(1rem, 2.5vw, 3rem);
  background-color: var(--book-section-title-bgc);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-titles:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.exp-coll {
  font-size: clamp(0.8rem, 1.3vw, 2rem);
}

.collapsible {
  overflow: hidden;
  transition: max-width 0.3s ease-out;
}

.book-cards-container {
  display: grid;
  grid-template: repeat(auto-fit, minmax(250px, 1fr)) / repeat(
      auto-fit,
      minmax(250px, 1fr)
    );
  grid-auto-rows: minmax(250px, 1fr);
}

.book-cards {
  background-color: var(--card-bgc);
  margin: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto 35px;
  align-items: center;
}

.card-top-content {
  margin: 0px;
  justify-self: start;
  text-align: left;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}

.card-bottom-content {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: end;
}

.edit-btn,
.delete-btn {
  border-style: none;
  height: 35px;
}

.edit-btn:hover,
.delete-btn:hover {
  filter: brightness(120%);
  box-shadow: inset 0px 0px 5px rgb(88, 51, 0);
  transform: scale(1.03);
  cursor: pointer;
}

.edit-btn {
  background-color: rgba(232, 178, 0, 0.808);
}

.delete-btn {
  background-color: rgba(141, 92, 0, 0.816);
}

.edit-options-container {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}
